{% extends 'base.html' %}
{% block title %}Cadastro{% endblock %}

{% block content %}
<div style="max-width: 400px; margin: 50px auto; background: #111; padding: 40px; border-radius: 20px; border: 1px solid #333; text-align: center;">
    <h2 style="color: #bc13fe; margin-bottom: 30px;">CADASTRAR</h2>
    <form method="POST" style="display: flex; flex-direction: column; gap: 15px;">
        <input type="text" name="nome" placeholder="Nome Completo" required style="padding: 15px; background: #000; border: 1px solid #333; color: white; border-radius: 5px;">
        <input type="text" name="username" placeholder="Username (ex: @joao)" required style="padding: 15px; background: #000; border: 1px solid #333; color: white; border-radius: 5px;">
        <input type="email" name="email" placeholder="E-mail" required style="padding: 15px; background: #000; border: 1px solid #333; color: white; border-radius: 5px;">
        <input type="password" name="senha" placeholder="Senha" required style="padding: 15px; background: #000; border: 1px solid #333; color: white; border-radius: 5px;">
        <input type="date" name="nascimento" required style="padding: 15px; background: #000; border: 1px solid #333; color: white; border-radius: 5px;">
        <button type="submit" style="background: #bc13fe; color: black; border: none; padding: 15px; font-weight: bold; border-radius: 5px; cursor: pointer; text-transform: uppercase;">Criar Conta</button>
    </form>
    <p style="color: #aaa; margin-top: 20px;">Já tem conta? <a href="/login" style="color: #bc13fe;">Entrar</a></p>
</div>
{% endblock %}